In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
raw = pd.read_csv("data/raw-data.csv")
clean = pd.read_csv("data/cleaned-data.csv")

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  294 non-null    object
 1   username            221 non-null    object
 2   full_name           294 non-null    object
 3   status              294 non-null    object
 4   last activity at    294 non-null    object
 5   tags                39 non-null     object
 6   Preferred Name      186 non-null    object
 7   Job Title           183 non-null    object
 8   Job Description     175 non-null    object
 9   Archetype           175 non-null    object
 10  STEEP Change 1      174 non-null    object
 11  STEEP Change 2      174 non-null    object
 12  STEEP Change 3      174 non-null    object
 13  STEEP Reason 1      147 non-null    object
 14  STEEP Reason 2      146 non-null    object
 15  STEEP Reason 3      142 non-null    object
 16  Future - Litany     112 non-null    object
 17  Future - Job Title  111 non-null    object
 18  Future - Systems    107 non-null    object
 19  Future - Metaphor   100 non-null    object
 20  Industry            179 non-null    object
 21  Feedback            11 non-null     object
 22  How got to know     85 non-null     object
dtypes: object(23)
memory usage: 53.0+ KB

In [4]:
raw["Job Title"].unique()

array([nan, 'Service design lead', 'Director', 'Consultant', 'Researcher',
       'Inventor', 'UX designer',
       'Senior Inventor(Consultant la, basically)', 'Designer',
       'Company director', 'Teacher', 'Product designer',
       'Assistant Marketing Manager', 'Senior Experience Designer',
       'Assistant Manager', 'Product Manager', 'Product Designer',
       'UX researcher', 'Student', 'Manager',
       'Strategic planning executive', 'Manager (Planning & Foresight)',
       'nil', 'teacher', 'Educator', 'Experience Designer',
       'Creative Lead', 'Future seeker', 'ux designer',
       'Innovation Director', 'Design Researcher', 'design researcher',
       'Programme Architect', 'Assistant director', 'director',
       'designer', 'Customer Support Manager', 'Lecturer',
       'Futurist, researcher, maker', 'Uxui designer',
       'Foresight analyst', 'Senior Principal Consultant', 'Operations',
       'Head of Foresight Research', 'Founder', 'Sports coach',
       'User Experience Researcher', 'Head of Product', 'UX Designer',
       'Ux design and project management executive',
       'Head of Events for Jungle Cross', 'Clinical Medical Technician',
       'Sustainability Engagement Consultant', 'product manager',
       'Volunteer manager', 'Product Lead', 'Tech legal operations',
       'Vegetable farmer', 'Product Design Intern', 'Design',
       'Executive Director', 'Project Manager', 'Professor',
       'Defeated working mother of a 4 Yr old', 'Product manager',
       'Senior communications manager', 'Human Resources Generalist',
       'Director, Strategic Futures', 'Grief Coach', 'Community manager',
       'Ux designer', 'HR', 'Project Consultant', 'Project manager',
       'Senior Analyst', 'Whore', 'Human Resource Business Partner',
       'Lawyer', 'Talent partner', 'Senior associate', 'researcher',
       'Service design lead and product manager', 'Industrial designer',
       'System Architect', 'UI / UX Designer', 'Eco warrior',
       'Teaching Assistant', 'Changemaker', 'Trainer / Facilitator',
       'Community Developer', 'Game designer', 'development', 'Slave',
       'Web Developer', 'Tech', 'Lead, Community Development', 'Coach',
       'Undergraduate student', 'Senior Product Designer',
       'UX Consultant', 'UI UX Design intern', 'student', 'UIUX Designer',
       'product', 'UX Research Lead', 'Senior Manager/Innovation Unit',
       'UI/UX designer', 'Construction worker', 'Librarian',
       'SSO Organisation Review', 'üë©üèª\u200düé®',
       'Digital Marketing Trainee', 'Design researcher', 'Ops Supervisor',
       'POD Generalist Trainee', 'Trainer', 'Instructor',
       'Learning Experience Designer', 'Risk manager', 'PM', 'Futurist',
       'Futurist and Coach', 'Web designer',
       'Software Developer üë®üèª\u200düíª', 'Director, Design Standards',
       'Architect', 'Interior designer', 'Associate'], dtype=object)

In [5]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  138 non-null    object
 1   Preferred Name      138 non-null    object
 2   Industry            138 non-null    object
 3   Job Title           138 non-null    object
 4   Job Tags            138 non-null    object
 5   Job Description     138 non-null    object
 6   STEEP Change 1      138 non-null    object
 7   STEEP Change 2      138 non-null    object
 8   STEEP Change 3      138 non-null    object
 9   STEEP Combined      138 non-null    object
 10  STEEP Reason 1      138 non-null    object
 11  STEEP Reason 2      138 non-null    object
 12  STEEP Reason 3      135 non-null    object
 13  Combined Signals    138 non-null    object
 14  Archetype           138 non-null    object
 15  Future - Litany     107 non-null    object
 16  Future - Job Title  106 non-null    object
 17  Future - Systems    102 non-null    object
 18  Future - Metaphor   95 non-null     object
 19  Feedback            10 non-null     object
 20  How got to know     82 non-null     object
 21  tags                37 non-null     object
dtypes: object(22)
memory usage: 23.8+ KB

In [99]:
ats = clean.groupby(["Archetype"])["id"].count().reset_index()

In [102]:
ats.to_csv('data/archetype-counts.csv')

## Choice compared to how majority of people in chat bot chose, segmented by industry

In [7]:
titles = clean["Job Title"].unique()

In [8]:
tags = clean["Job Tags"].unique()
tags

array(['design', 'education', 'education,research', 'public service',
       'IT', 'tech', 'tech,design', 'education,sustainability',
       'transport', 'futures', 'social service', 'consultancy',
       'advertising/branding', 'design,research',
       'public service,social service', 'finance,design',
       'education,design', 'e-commerce', 'public service,design',
       'design,e-commerce', 'argriculture,tech',
       'social service,innovation,futures', 'public service,futures',
       'healthcare', 'engineering,student', 'tech,legal',
       'music,education', 'research', 'sustainability', 'design,IoT',
       'innovation,design', 'travel,design', 'arts', 'healthcare,student',
       'banking', 'logistics,design', 'telecommunication,design',
       'coaching', 'innovation', 'manufacturing',
       'public service,innovation', 'e-commerce,design',
       'health and sport', 'sustainability,student', 'transport,design',
       'finance', 'healthcare,tech,design', 'research,education,futures',
       'property', 'design,education', 'hazardous waste',
       'finance,design,tech', 'student', 'finance,research'], dtype=object)

In [9]:
clean["job_tags"] = clean.apply(lambda r: r["Job Tags"].split(","), axis=1)
clean

,id,Preferred Name,Industry,Job Title,Job Tags,Job Description,STEEP Change 1,STEEP Change 2,STEEP Change 3,STEEP Combined,...,Combined Signals,Archetype,Future - Litany,Future - Job Title,Future - Systems,Future - Metaphor,Feedback,How got to know,tags,job_tags
0,6202786c7d40bb363a40f8e8,Nicole,Design / construction,Interior designer,design,I design residential interior spaces,Environmental,Technological,Social,"Environmental,Technological,Social",...,"climate change, virtual reality, AI, iot, pola...",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[design]
1,622008119cedee53316e89a5,Tamas,Education,Professor,education,I teach at a university,Technological,Economic,Environmental,"Technological,Economic,Environmental",...,"web3, communication technology, metaverse, dig...",Growth,Co-facilitator with AI counterparts in highly ...,Humentor (human-mentor),Symbiotic integration of humans and computers ...,New era of augmented (virtual/biological) expl...,NaN,Khai Seng‚Äôs LinkedIn post,Reflections yes,[education]
2,621ec40f51220c43431eeed7,Eddie,Education,Researcher,"education,research",I read and write a lot.,Social,Technological,Environmental,"Social,Technological,Environmental",...,climate change,Growth,"Climate change is terrible, but the effects ar...",Climate Change Analyst,Climate change has become an overriding thing,Green is money,NaN,A friend forwarded the chatbot to me,Reflections yes,"[education, research]"
3,621d65d80cd62d17365b1b01,Rashid,Education,Instructor,education,Moulding young minds,Technological,Economic,Social,"Technological,Economic,Social",...,"AR, new forms of currency",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[education]
4,621debc675b8ef017c0797ff,Melissa,Civil Service,SSO Organisation Review,public service,Formulate & implement Organisation Development...,Technological,Environmental,Economic,"Technological,Environmental,Economic",...,"virtual reality, AI, climate change, increased...",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[public service]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Gayatri,Technology,Head of Product,tech,I solve customer problems which benefits all i...,Social,Environmental,Political,"Social,Environmental,Political",...,"depleting resources, war, polarised views",Discipline,"Well, it's evening in my timezone. Assume pers...","Oh work wise. Titles are mess now, I want to s...",I am biased that Product role brings much need...,Zindagi na milegi dobara (translation. Live li...,Bye,From Tamas M. - my favorite colleague and UX r...,NaN,[tech]
134,621e04eb4bfec76537476c40,kaz,FinTech,UX Research Lead,"finance,research",I provide research insights to a FinTech compa...,Environmental,Social,Technological,"Environmental,Social,Technological",...,"climate change, depleting resources, access to...",Discipline,Research but in a 2100 context,Research Insights?,More digital solutions,An open book,NaN,NaN,NaN,"[finance, research]"
135,6241892a313b91718b6e8569,Tuskoriented,Government,Designer,"public service,design",I help to make life better for Singaporeans by...,Economic,Environmental,Technological,"Economic,Environmental,Technological",...,"nationalism, depleting resources, global warmi...",Discipline,The person is trying very hard to secure the r...,Resource and Allegiance Coordinator,After the proliferation of data and wealth in ...,The world is a tapestry that‚Äôs resolving itsel...,NaN,DesignSG group + Linkedin!,NaN,"[public service, design]"
136,6242fdd5f688c34ea219ef28,Mel,Government,Strategic planning executive,public service,"Help my organisation plan for the future, and ...",Social,Environmental,Economic,"Social,Environmental,Economic",...,"ageing population, decreased labour force, pol...",Discipline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[public service]
137,621f841794a00119fe003b80,Andrea,Waste,Human Resources Generalist,hazardous waste,"Guide managers on how to engage, utilize, and ...",Environmental,Economic,Technological,"Environmental,Economic,Technological",...,"depleting resources, shifting political powers...",Discipline,This person interacts via the metaverse with t...,Resource Partner,"lack of human resources, and utilization of no...",Work hard play hard,NaN,NaN,NaN,[hazardous waste]

In [10]:
unique_tags = clean["job_tags"].to_list()
unique_tags

[['design'],
 ['education'],
 ['education', 'research'],
 ['education'],
 ['public service'],
 ['IT'],
 ['public service'],
 ['tech'],
 ['tech', 'design'],
 ['education', 'sustainability'],
 ['design'],
 ['design'],
 ['transport'],
 ['tech', 'design'],
 ['futures'],
 ['design'],
 ['social service'],
 ['consultancy'],
 ['advertising/branding'],
 ['design'],
 ['design', 'research'],
 ['public service', 'social service'],
 ['finance', 'design'],
 ['IT'],
 ['design'],
 ['consultancy'],
 ['design'],
 ['public service'],
 ['tech', 'design'],
 ['education', 'design'],
 ['tech', 'design'],
 ['tech'],
 ['finance', 'design'],
 ['e-commerce'],
 ['design'],
 ['public service', 'design'],
 ['design', 'e-commerce'],
 ['education'],
 ['public service'],
 ['argriculture', 'tech'],
 ['social service', 'innovation', 'futures'],
 ['public service', 'futures'],
 ['design', 'research'],
 ['social service'],
 ['argriculture', 'tech'],
 ['consultancy'],
 ['education'],
 ['consultancy'],
 ['education'],
 ['healthcare'],
 ['education'],
 ['tech', 'design'],
 ['engineering', 'student'],
 ['tech', 'legal'],
 ['music', 'education'],
 ['IT'],
 ['social service'],
 ['futures'],
 ['design'],
 ['design'],
 ['education'],
 ['design'],
 ['education', 'design'],
 ['design'],
 ['social service'],
 ['tech'],
 ['design'],
 ['research'],
 ['sustainability'],
 ['design', 'IoT'],
 ['innovation', 'design'],
 ['travel', 'design'],
 ['public service', 'design'],
 ['IT'],
 ['design'],
 ['education'],
 ['education'],
 ['design'],
 ['arts'],
 ['social service'],
 ['healthcare', 'student'],
 ['tech', 'design'],
 ['banking'],
 ['design'],
 ['logistics', 'design'],
 ['finance', 'design'],
 ['design'],
 ['sustainability'],
 ['telecommunication', 'design'],
 ['coaching'],
 ['innovation'],
 ['consultancy'],
 ['consultancy'],
 ['design'],
 ['education'],
 ['design'],
 ['manufacturing'],
 ['design'],
 ['public service', 'innovation'],
 ['finance', 'design'],
 ['e-commerce', 'design'],
 ['futures'],
 ['coaching'],
 ['design'],
 ['education'],
 ['design'],
 ['health and sport'],
 ['sustainability', 'student'],
 ['transport', 'design'],
 ['tech', 'design'],
 ['design'],
 ['public service'],
 ['finance'],
 ['social service'],
 ['finance', 'design'],
 ['tech', 'design'],
 ['education'],
 ['healthcare', 'tech', 'design'],
 ['research', 'education', 'futures'],
 ['property'],
 ['design', 'education'],
 ['education'],
 ['arts'],
 ['research'],
 ['design'],
 ['finance'],
 ['tech'],
 ['hazardous waste'],
 ['finance', 'design', 'tech'],
 ['student'],
 ['design'],
 ['public service', 'design'],
 ['design'],
 ['tech'],
 ['finance', 'research'],
 ['public service', 'design'],
 ['public service'],
 ['hazardous waste']]

In [11]:
flattened = [val for sublist in unique_tags for val in sublist]
unique_tags = list(set(flattened))
unique_tags.sort()
unique_tags

['IT',
 'IoT',
 'advertising/branding',
 'argriculture',
 'arts',
 'banking',
 'coaching',
 'consultancy',
 'design',
 'e-commerce',
 'education',
 'engineering',
 'finance',
 'futures',
 'hazardous waste',
 'health and sport',
 'healthcare',
 'innovation',
 'legal',
 'logistics',
 'manufacturing',
 'music',
 'property',
 'public service',
 'research',
 'social service',
 'student',
 'sustainability',
 'tech',
 'telecommunication',
 'transport',
 'travel']

In [12]:
at = clean["Archetype"].unique()
at

array(['Growth', 'Collapse', 'Transformation', 'Discipline'], dtype=object)

### Get archetype counts

In [13]:
d = {}

for u in unique_tags:
    d[u] = [0 for i in range(len(at))]
    
d["archetype"] = at
d

{'IT': [0, 0, 0, 0],
 'IoT': [0, 0, 0, 0],
 'advertising/branding': [0, 0, 0, 0],
 'argriculture': [0, 0, 0, 0],
 'arts': [0, 0, 0, 0],
 'banking': [0, 0, 0, 0],
 'coaching': [0, 0, 0, 0],
 'consultancy': [0, 0, 0, 0],
 'design': [0, 0, 0, 0],
 'e-commerce': [0, 0, 0, 0],
 'education': [0, 0, 0, 0],
 'engineering': [0, 0, 0, 0],
 'finance': [0, 0, 0, 0],
 'futures': [0, 0, 0, 0],
 'hazardous waste': [0, 0, 0, 0],
 'health and sport': [0, 0, 0, 0],
 'healthcare': [0, 0, 0, 0],
 'innovation': [0, 0, 0, 0],
 'legal': [0, 0, 0, 0],
 'logistics': [0, 0, 0, 0],
 'manufacturing': [0, 0, 0, 0],
 'music': [0, 0, 0, 0],
 'property': [0, 0, 0, 0],
 'public service': [0, 0, 0, 0],
 'research': [0, 0, 0, 0],
 'social service': [0, 0, 0, 0],
 'student': [0, 0, 0, 0],
 'sustainability': [0, 0, 0, 0],
 'tech': [0, 0, 0, 0],
 'telecommunication': [0, 0, 0, 0],
 'transport': [0, 0, 0, 0],
 'travel': [0, 0, 0, 0],
 'archetype': array(['Growth', 'Collapse', 'Transformation', 'Discipline'], dtype=object)}

In [14]:
industry_archetypes = pd.DataFrame(d)
industry_archetypes

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,public service,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Growth
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Collapse
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Transformation
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Discipline

In [15]:
industry_archetypes["total"] = 0

In [16]:
for r, row in tqdm(industry_archetypes.iterrows()):
    search = row["archetype"]
    subdf = clean[clean["Archetype"] == search]
    for u in unique_tags:
        for k, krow in subdf.iterrows():
            if u in krow["job_tags"]:
                print (r, u)
                industry_archetypes.at[r, u] +=1
            
    industry_archetypes.at[r, "total"] = len(subdf)
    display(industry_archetypes)

0it [00:00, ?it/s]

0 design
0 education
0 education
0 education
0 public service
0 research

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype,total
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,Growth,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Collapse,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Transformation,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Discipline,0

1 IT
1 design
1 design
1 design
1 design
1 education
1 public service
1 sustainability
1 tech
1 tech
1 tech
1 transport

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype,total
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,Growth,5
1,1,0,0,0,0,0,0,0,4,0,...,0,0,0,1,3,0,1,0,Collapse,9
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Transformation,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Discipline,0

2 IT
2 IT
2 IT
2 IoT
2 advertising/branding
2 argriculture
2 argriculture
2 arts
2 banking
2 coaching
2 coaching
2 consultancy
2 consultancy
2 consultancy
2 consultancy
2 consultancy
2 consultancy
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 design
2 e-commerce
2 e-commerce
2 e-commerce
2 education
2 education
2 education
2 education
2 education
2 education
2 education
2 education
2 education
2 education
2 education
2 engineering
2 finance
2 finance
2 finance
2 finance
2 futures
2 futures
2 futures
2 futures
2 futures
2 healthcare
2 healthcare
2 innovation
2 innovation
2 innovation
2 innovation
2 legal
2 logistics
2 manufacturing
2 music
2 public service
2 public service
2 public service
2 public service
2 public service
2 public service
2 public service
2 research
2 research
2 research
2 social service
2 social service
2 social service
2 social service
2 social service
2 social service
2 social service
2 student
2 student
2 sustainability
2 sustainability
2 tech
2 tech
2 tech
2 tech
2 tech
2 tech
2 tech
2 tech
2 tech
2 telecommunication
2 travel

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype,total
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,Growth,5
1,1,0,0,0,0,0,0,0,4,0,...,0,0,0,1,3,0,1,0,Collapse,9
2,3,1,1,2,1,1,2,6,38,3,...,3,7,2,2,9,1,0,1,Transformation,89
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Discipline,0

3it [00:00, 26.30it/s]

3 arts
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 design
3 education
3 education
3 education
3 education
3 education
3 finance
3 finance
3 finance
3 finance
3 finance
3 futures
3 hazardous waste
3 hazardous waste
3 health and sport
3 healthcare
3 property
3 public service
3 public service
3 public service
3 public service
3 research
3 research
3 research
3 social service
3 student
3 student
3 sustainability
3 tech
3 tech
3 tech
3 tech
3 tech
3 tech
3 transport

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype,total
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,Growth,5
1,1,0,0,0,0,0,0,0,4,0,...,0,0,0,1,3,0,1,0,Collapse,9
2,3,1,1,2,1,1,2,6,38,3,...,3,7,2,2,9,1,0,1,Transformation,89
3,0,0,0,0,1,0,0,0,15,0,...,3,1,2,1,6,0,1,0,Discipline,35

4it [00:00, 26.89it/s]

In [17]:
industry_archetypes

,IT,IoT,advertising/branding,argriculture,arts,banking,coaching,consultancy,design,e-commerce,...,research,social service,student,sustainability,tech,telecommunication,transport,travel,archetype,total
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,Growth,5
1,1,0,0,0,0,0,0,0,4,0,...,0,0,0,1,3,0,1,0,Collapse,9
2,3,1,1,2,1,1,2,6,38,3,...,3,7,2,2,9,1,0,1,Transformation,89
3,0,0,0,0,1,0,0,0,15,0,...,3,1,2,1,6,0,1,0,Discipline,35

In [36]:
new_df = pd.DataFrame({"id": clean["id"].tolist()})
new_df["archetype"] = clean["Archetype"].tolist()
new_df

                           id   archetype
0    6202786c7d40bb363a40f8e8      Growth
1    622008119cedee53316e89a5      Growth
2    621ec40f51220c43431eeed7      Growth
3    621d65d80cd62d17365b1b01      Growth
4    621debc675b8ef017c0797ff      Growth
..                        ...         ...
133  62217153b3309273de44dc59  Discipline
134  621e04eb4bfec76537476c40  Discipline
135  6241892a313b91718b6e8569  Discipline
136  6242fdd5f688c34ea219ef28  Discipline
137  621f841794a00119fe003b80  Discipline

[138 rows x 2 columns]

In [37]:
new_titles = ["[job tag] " + tag for tag in unique_tags]
new_titles

['[job tag] IT',
 '[job tag] IoT',
 '[job tag] advertising/branding',
 '[job tag] argriculture',
 '[job tag] arts',
 '[job tag] banking',
 '[job tag] coaching',
 '[job tag] consultancy',
 '[job tag] design',
 '[job tag] e-commerce',
 '[job tag] education',
 '[job tag] engineering',
 '[job tag] finance',
 '[job tag] futures',
 '[job tag] hazardous waste',
 '[job tag] health and sport',
 '[job tag] healthcare',
 '[job tag] innovation',
 '[job tag] legal',
 '[job tag] logistics',
 '[job tag] manufacturing',
 '[job tag] music',
 '[job tag] property',
 '[job tag] public service',
 '[job tag] research',
 '[job tag] social service',
 '[job tag] student',
 '[job tag] sustainability',
 '[job tag] tech',
 '[job tag] telecommunication',
 '[job tag] transport',
 '[job tag] travel']

In [38]:
for title in new_titles:
    new_df[title] = 0
    
new_df

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[job tag] property,[job tag] public service,[job tag] research,[job tag] social service,[job tag] student,[job tag] sustainability,[job tag] tech,[job tag] telecommunication,[job tag] transport,[job tag] travel
0,6202786c7d40bb363a40f8e8,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,622008119cedee53316e89a5,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,621ec40f51220c43431eeed7,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,621d65d80cd62d17365b1b01,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,621debc675b8ef017c0797ff,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134,621e04eb4bfec76537476c40,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135,6241892a313b91718b6e8569,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,6242fdd5f688c34ea219ef28,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,621f841794a00119fe003b80,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
for r, row in clean.iterrows():
    for tag in unique_tags:
        if tag in row["job_tags"]:
            new_tag = "[job tag] " + tag
            new_df.at[r, new_tag] = 1

new_df

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[job tag] property,[job tag] public service,[job tag] research,[job tag] social service,[job tag] student,[job tag] sustainability,[job tag] tech,[job tag] telecommunication,[job tag] transport,[job tag] travel
0,6202786c7d40bb363a40f8e8,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,622008119cedee53316e89a5,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,621ec40f51220c43431eeed7,Growth,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,621d65d80cd62d17365b1b01,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,621debc675b8ef017c0797ff,Growth,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
134,621e04eb4bfec76537476c40,Discipline,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
135,6241892a313b91718b6e8569,Discipline,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
136,6242fdd5f688c34ea219ef28,Discipline,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
137,621f841794a00119fe003b80,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
new_df.to_csv("data/archetypes.csv")

## `Data` List of weak signals, driving forces and mega trends collected by chat bot
    - Sortable by industry, archetypes and STEEP categories
    
    
    - STEEP Change 1	STEEP Change 2	STEEP Change 3![image.png](attachment:image.png)
    - industry
    - archetypes
    
    - Combined Signals

In [24]:
signals = clean["Combined Signals"].unique()
signals = [signal.split(', ') for signal in signals]
flat_signals = [val for sublist in signals for val in sublist]
unique_signals = list(set(flat_signals))
unique_signals.sort()
len(unique_signals)

212

In [41]:
unique_signals

['3d printed food',
 '3d printing',
 'AI',
 'AR',
 'CO2 emissions',
 'DAOs',
 'Medtech',
 'NFTs',
 'QAnon',
 'access to clean water',
 'advance in gene research',
 'ageing population',
 'ageist behaviours',
 'alternative economic systems',
 'alternative lifestyles',
 'anarchy',
 'attitudes toward education',
 'automation',
 'autonomous driving',
 'aware youths',
 'big data',
 'biotech',
 'blockchain',
 'blurring of physical and virtual worlds',
 'cancel culture',
 'changing demographics',
 'changing economic structures',
 'changing habits of content consumption',
 'changing views of self identity',
 'civil unrest',
 'climate change',
 'climate refugees',
 'colonisation',
 'communication technology',
 'compressed modernity',
 'concentration of talent',
 'corruption',
 'counterurbanisation',
 'cryptocurrency',
 'culture wars',
 'data mining',
 'decentralisation',
 'decentralised finance',
 'decentralised workforce',
 'decolonisation',
 'decreased birthrate',
 'decreased collaboration',
 'decreased democracy',
 'decreased energy sources',
 'decreased farming',
 'decreased food sources',
 'decreased innovation',
 'decreased labour force',
 'decreased physical interaction',
 'decreased trust in governments',
 'deforestation',
 'dependence on technology',
 'depleting resources',
 'digital nomad',
 'digitalisation',
 'discerning more worldviews',
 'discrimination',
 'dissent',
 'dissociation of identity',
 'distribution of power to people',
 'diversity',
 'drive for profits',
 'drones',
 'economic imbalance',
 'electric vehicles',
 'elitism',
 'entrenched worldviews',
 'environmental degradation',
 'evolving societal attitudes',
 'extended reality',
 'extreme weather',
 'fintech',
 'flexible work',
 'flying vehicles',
 'food security',
 'food technology',
 'fragmented society',
 'free speech',
 'frugal living',
 'fusion technology',
 'generational differences',
 'geopolitical tensions',
 'gig economy',
 'global community',
 'global talent crunch',
 'global warming',
 'globalisation',
 'great resignation',
 'green buildings',
 'human augmentation',
 'hyperloops',
 'inclusivity',
 'increased adoption and reliance on new technology',
 'increased apathy',
 'increased authoritarianism',
 'increased citizen engagement',
 'increased complexity',
 'increased consumption',
 'increased democracy',
 'increased division',
 'increased equality',
 'increased equity',
 'increased financilisation',
 'increased harmony',
 'increased inclusion',
 'increased mental health',
 'increased mutual aid',
 'increased population density',
 'increased propaganda',
 'increased protectionism',
 'increased self-awareness',
 'increased social distrust',
 'increased social justice',
 'increased surveillance',
 'increased sustainability',
 'increased waste',
 'individualisation',
 'ineffective world leadership',
 'inequality',
 'inflation',
 'information technology',
 'innovation',
 'iot',
 'joblessness',
 'liberalisation',
 'loss of biodiversity',
 'machine learning',
 'man-made disasters',
 'mass displacement',
 'melting polar ice caps',
 'metaverse',
 'microplastics in human blood',
 'mixed reality',
 'more education',
 'multiculturalism',
 'nanotech',
 'national identity',
 'nationalism',
 'natural disasters',
 'new forms of currency',
 'new forms of manufacturing',
 'new habits of living',
 'new habits of working',
 'new social norms',
 'new sources of resources',
 'new types of businesses',
 'new ways of collaboration',
 'new ways of investment',
 'new ways of measuring progress',
 'non-nuclear family structures',
 'online communities',
 'overpopulation',
 'pandemic',
 'plant-based diet',
 'polarised views',
 'political ideologies',
 'pollution',
 'populist leaders',
 'poverty',
 'predictive analytics',
 'predictive healthcare',
 'privacy concerns',
 'quantum computing',
 'racism',
 'radical politics',
 'rapid change',
 'reduced waste',
 'remote work',
 'renewable energy',
 'rise in human capital',
 'rise in talent',
 'rise in taxes',
 'rising sea levels',
 'rising temperature',
 'robots',
 'sea water contamination',
 'selfishness',
 'separatism',
 'shifting economic powers',
 'shifting global powers',
 'shifting political powers',
 'siren servers',
 'smart homes',
 'smartphones',
 'space travel',
 'stagnating growth',
 'stagnating innovation',
 'stagnating population growth',
 'supercars',
 'sustainable energy',
 'sustainable food',
 'synthetic biology',
 'technology ethics',
 'tightening income gap',
 'transnational alliances',
 'unequal distribution of power between rich and poor',
 'unequal effects of climate change',
 'urbanisation',
 'virtual reality',
 'virus outbreaks',
 'volatile markets',
 'war',
 'web3',
 'widening income gap',
 'widening social gap between young and old',
 'world hunger',
 'world without borders']

## Count occurence fo signals

In [43]:
len(flat_signals)

788

In [55]:
df_signals = pd.DataFrame({"signal": flat_signals})
df_signals = df_signals.groupby(["signal"])["signal"].count()#.rename(columns={"signal": "signal_name"})\
    #.reset_index()
df_signals

signal
3d printed food                               3
3d printing                                   1
AI                                           38
AR                                            5
CO2 emissions                                 1
                                             ..
web3                                          4
widening income gap                           8
widening social gap between young and old     1
world hunger                                  1
world without borders                         1
Name: signal, Length: 212, dtype: int64

In [59]:
from collections import Counter
counter_object = Counter(flat_signals)
keys = counter_object.keys()
num_values = counter_object.values()
df_signals = pd.DataFrame({"signal": keys, "value": num_values}).sort_values("value")
df_signals

                         signal  value
105            radical politics      1
139        new habits of living      1
142                     dissent      1
145  attitudes toward education      1
146                   inflation      1
..                          ...    ...
35            ageing population     23
4               polarised views     31
28          depleting resources     33
2                            AI     38
0                climate change     72

[212 rows x 2 columns]

In [60]:
df_signals.to_csv("data/signal-counts.csv")

## Make searchable by 

- industry - job tags
- archetypes - signals
- STEEP categories - steep ordering

In [61]:
clean

,id,Preferred Name,Industry,Job Title,Job Tags,Job Description,STEEP Change 1,STEEP Change 2,STEEP Change 3,STEEP Combined,...,Combined Signals,Archetype,Future - Litany,Future - Job Title,Future - Systems,Future - Metaphor,Feedback,How got to know,tags,job_tags
0,6202786c7d40bb363a40f8e8,Nicole,Design / construction,Interior designer,design,I design residential interior spaces,Environmental,Technological,Social,"Environmental,Technological,Social",...,"climate change, virtual reality, AI, iot, pola...",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[design]
1,622008119cedee53316e89a5,Tamas,Education,Professor,education,I teach at a university,Technological,Economic,Environmental,"Technological,Economic,Environmental",...,"web3, communication technology, metaverse, dig...",Growth,Co-facilitator with AI counterparts in highly ...,Humentor (human-mentor),Symbiotic integration of humans and computers ...,New era of augmented (virtual/biological) expl...,NaN,Khai Seng‚Äôs LinkedIn post,Reflections yes,[education]
2,621ec40f51220c43431eeed7,Eddie,Education,Researcher,"education,research",I read and write a lot.,Social,Technological,Environmental,"Social,Technological,Environmental",...,climate change,Growth,"Climate change is terrible, but the effects ar...",Climate Change Analyst,Climate change has become an overriding thing,Green is money,NaN,A friend forwarded the chatbot to me,Reflections yes,"[education, research]"
3,621d65d80cd62d17365b1b01,Rashid,Education,Instructor,education,Moulding young minds,Technological,Economic,Social,"Technological,Economic,Social",...,"AR, new forms of currency",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[education]
4,621debc675b8ef017c0797ff,Melissa,Civil Service,SSO Organisation Review,public service,Formulate & implement Organisation Development...,Technological,Environmental,Economic,"Technological,Environmental,Economic",...,"virtual reality, AI, climate change, increased...",Growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[public service]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Gayatri,Technology,Head of Product,tech,I solve customer problems which benefits all i...,Social,Environmental,Political,"Social,Environmental,Political",...,"depleting resources, war, polarised views",Discipline,"Well, it's evening in my timezone. Assume pers...","Oh work wise. Titles are mess now, I want to s...",I am biased that Product role brings much need...,Zindagi na milegi dobara (translation. Live li...,Bye,From Tamas M. - my favorite colleague and UX r...,NaN,[tech]
134,621e04eb4bfec76537476c40,kaz,FinTech,UX Research Lead,"finance,research",I provide research insights to a FinTech compa...,Environmental,Social,Technological,"Environmental,Social,Technological",...,"climate change, depleting resources, access to...",Discipline,Research but in a 2100 context,Research Insights?,More digital solutions,An open book,NaN,NaN,NaN,"[finance, research]"
135,6241892a313b91718b6e8569,Tuskoriented,Government,Designer,"public service,design",I help to make life better for Singaporeans by...,Economic,Environmental,Technological,"Economic,Environmental,Technological",...,"nationalism, depleting resources, global warmi...",Discipline,The person is trying very hard to secure the r...,Resource and Allegiance Coordinator,After the proliferation of data and wealth in ...,The world is a tapestry that‚Äôs resolving itsel...,NaN,DesignSG group + Linkedin!,NaN,"[public service, design]"
136,6242fdd5f688c34ea219ef28,Mel,Government,Strategic planning executive,public service,"Help my organisation plan for the future, and ...",Social,Environmental,Economic,"Social,Environmental,Economic",...,"ageing population, decreased labour force, pol...",Discipline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[public service]
137,621f841794a00119fe003b80,Andrea,Waste,Human Resources Generalist,hazardous waste,"Guide managers on how to engage, utilize, and ...",Environmental,Economic,Technological,"Environmental,Economic,Technological",...,"depleting resources, shifting political powers...",Discipline,This person interacts via the metaverse with t...,Resource Partner,"lack of human resources, and utilization of no...",Work hard play hard,NaN,NaN,NaN,[hazardous waste]

In [62]:
new_keys = []

for k in keys:
    new_keys.append("[signal] " + k)
    
new_keys

['[signal] climate change',
 '[signal] virtual reality',
 '[signal] AI',
 '[signal] iot',
 '[signal] polarised views',
 '[signal] web3',
 '[signal] communication technology',
 '[signal] metaverse',
 '[signal] digitalisation',
 '[signal] remote work',
 '[signal] digital nomad',
 '[signal] concentration of talent',
 '[signal] increased sustainability',
 '[signal] innovation',
 '[signal] AR',
 '[signal] new forms of currency',
 '[signal] loss of biodiversity',
 '[signal] global warming',
 '[signal] world without borders',
 '[signal] national identity',
 '[signal] shifting global powers',
 '[signal] extreme weather',
 '[signal] civil unrest',
 '[signal] widening income gap',
 '[signal] unequal distribution of power between rich and poor',
 '[signal] ageist behaviours',
 '[signal] elitism',
 '[signal] inequality',
 '[signal] depleting resources',
 '[signal] overpopulation',
 '[signal] natural disasters',
 '[signal] man-made disasters',
 '[signal] ineffective world leadership',
 '[signal] increased authoritarianism',
 '[signal] decreased democracy',
 '[signal] ageing population',
 '[signal] increased complexity',
 '[signal] environmental degradation',
 '[signal] compressed modernity',
 '[signal] political ideologies',
 '[signal] colonisation',
 '[signal] decolonisation',
 '[signal] decreased collaboration',
 '[signal] increased protectionism',
 '[signal] separatism',
 '[signal] cancel culture',
 '[signal] rising sea levels',
 '[signal] rising temperature',
 '[signal] war',
 '[signal] geopolitical tensions',
 '[signal] individualisation',
 '[signal] increased apathy',
 '[signal] diversity',
 '[signal] new social norms',
 '[signal] nanotech',
 '[signal] more education',
 '[signal] decreased birthrate',
 '[signal] blockchain',
 '[signal] mixed reality',
 '[signal] food technology',
 '[signal] NFTs',
 '[signal] global talent crunch',
 '[signal] blurring of physical and virtual worlds',
 '[signal] generational differences',
 '[signal] climate refugees',
 '[signal] drones',
 '[signal] electric vehicles',
 '[signal] flying vehicles',
 '[signal] decentralised workforce',
 '[signal] cryptocurrency',
 '[signal] autonomous driving',
 '[signal] shifting economic powers',
 '[signal] globalisation',
 '[signal] rise in taxes',
 '[signal] rise in human capital',
 '[signal] rise in talent',
 '[signal] entrenched worldviews',
 '[signal] discerning more worldviews',
 '[signal] aware youths',
 '[signal] unequal effects of climate change',
 '[signal] pollution',
 '[signal] automation',
 '[signal] increased adoption and reliance on new technology',
 '[signal] information technology',
 '[signal] online communities',
 '[signal] decentralisation',
 '[signal] nationalism',
 '[signal] shifting political powers',
 '[signal] plant-based diet',
 '[signal] 3d printed food',
 '[signal] joblessness',
 '[signal] extended reality',
 '[signal] predictive healthcare',
 '[signal] new habits of working',
 '[signal] distribution of power to people',
 '[signal] decreased trust in governments',
 '[signal] sustainable energy',
 '[signal] access to clean water',
 '[signal] hyperloops',
 '[signal] human augmentation',
 '[signal] decentralised finance',
 '[signal] new ways of investment',
 '[signal] new ways of collaboration',
 '[signal] widening social gap between young and old',
 '[signal] machine learning',
 '[signal] radical politics',
 '[signal] biotech',
 '[signal] quantum computing',
 '[signal] fragmented society',
 '[signal] racism',
 '[signal] stagnating growth',
 '[signal] fusion technology',
 '[signal] increased mental health',
 '[signal] dependence on technology',
 '[signal] pandemic',
 '[signal] changing habits of content consumption',
 '[signal] increased self-awareness',
 '[signal] counterurbanisation',
 '[signal] anarchy',
 '[signal] QAnon',
 '[signal] renewable energy',
 '[signal] increased consumption',
 '[signal] synthetic biology',
 '[signal] culture wars',
 '[signal] new ways of measuring progress',
 '[signal] decreased labour force',
 '[signal] flexible work',
 '[signal] food security',
 '[signal] great resignation',
 '[signal] increased inclusion',
 '[signal] frugal living',
 '[signal] green buildings',
 '[signal] reduced waste',
 '[signal] new forms of manufacturing',
 '[signal] corruption',
 '[signal] urbanisation',
 '[signal] increased population density',
 '[signal] increased mutual aid',
 '[signal] evolving societal attitudes',
 '[signal] new habits of living',
 '[signal] big data',
 '[signal] increased citizen engagement',
 '[signal] dissent',
 '[signal] DAOs',
 '[signal] liberalisation',
 '[signal] attitudes toward education',
 '[signal] inflation',
 '[signal] economic imbalance',
 '[signal] new types of businesses',
 '[signal] discrimination',
 '[signal] fintech',
 '[signal] advance in gene research',
 '[signal] smartphones',
 '[signal] supercars',
 '[signal] increased harmony',
 '[signal] tightening income gap',
 '[signal] free speech',
 '[signal] changing economic structures',
 '[signal] gig economy',
 '[signal] space travel',
 '[signal] decreased physical interaction',
 '[signal] changing views of self identity',
 '[signal] Medtech',
 '[signal] alternative lifestyles',
 '[signal] transnational alliances',
 '[signal] increased democracy',
 '[signal] alternative economic systems',
 '[signal] changing demographics',
 '[signal] rapid change',
 '[signal] microplastics in human blood',
 '[signal] predictive analytics',
 '[signal] melting polar ice caps',
 '[signal] CO2 emissions',
 '[signal] increased financilisation',
 '[signal] volatile markets',
 '[signal] increased division',
 '[signal] increased propaganda',
 '[signal] increased waste',
 '[signal] decreased food sources',
 '[signal] decreased energy sources',
 '[signal] new sources of resources',
 '[signal] increased social justice',
 '[signal] populist leaders',
 '[signal] smart homes',
 '[signal] sea water contamination',
 '[signal] selfishness',
 '[signal] increased social distrust',
 '[signal] virus outbreaks',
 '[signal] poverty',
 '[signal] data mining',
 '[signal] increased equality',
 '[signal] increased equity',
 '[signal] inclusivity',
 '[signal] 3d printing',
 '[signal] robots',
 '[signal] sustainable food',
 '[signal] deforestation',
 '[signal] dissociation of identity',
 '[signal] non-nuclear family structures',
 '[signal] drive for profits',
 '[signal] siren servers',
 '[signal] stagnating population growth',
 '[signal] stagnating innovation',
 '[signal] multiculturalism',
 '[signal] global community',
 '[signal] increased surveillance',
 '[signal] privacy concerns',
 '[signal] mass displacement',
 '[signal] world hunger',
 '[signal] technology ethics',
 '[signal] decreased farming',
 '[signal] decreased innovation']

In [63]:
for k in new_keys:
    new_df[k] = 0
    
new_df

<ipython-input-63-f82ce84d2593>:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[k] = 0

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[signal] stagnating innovation,[signal] multiculturalism,[signal] global community,[signal] increased surveillance,[signal] privacy concerns,[signal] mass displacement,[signal] world hunger,[signal] technology ethics,[signal] decreased farming,[signal] decreased innovation
0,6202786c7d40bb363a40f8e8,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,622008119cedee53316e89a5,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,621ec40f51220c43431eeed7,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,621d65d80cd62d17365b1b01,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,621debc675b8ef017c0797ff,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134,621e04eb4bfec76537476c40,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
135,6241892a313b91718b6e8569,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,6242fdd5f688c34ea219ef28,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,621f841794a00119fe003b80,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
new_df[new_df["[job tag] IT"] == 1]

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[signal] stagnating innovation,[signal] multiculturalism,[signal] global community,[signal] increased surveillance,[signal] privacy concerns,[signal] mass displacement,[signal] world hunger,[signal] technology ethics,[signal] decreased farming,[signal] decreased innovation
5,620d0da7b9219703c3688191,Collapse,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,62243de286c01c0e7e5d6065,Transformation,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,621e2690ba31130e5a2b1c49,Transformation,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,620f1ca9eb8749722c63dfd9,Transformation,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
for r, row in clean.iterrows():
    for s in keys:
        if s in row["Combined Signals"]:
            new_df.at[r, "[signal] " + s] = 1
            
new_df

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[signal] stagnating innovation,[signal] multiculturalism,[signal] global community,[signal] increased surveillance,[signal] privacy concerns,[signal] mass displacement,[signal] world hunger,[signal] technology ethics,[signal] decreased farming,[signal] decreased innovation
0,6202786c7d40bb363a40f8e8,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,622008119cedee53316e89a5,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,621ec40f51220c43431eeed7,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,621d65d80cd62d17365b1b01,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,621debc675b8ef017c0797ff,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
134,621e04eb4bfec76537476c40,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
135,6241892a313b91718b6e8569,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
136,6242fdd5f688c34ea219ef28,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,621f841794a00119fe003b80,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
new_df["steep_ranking"] = clean["STEEP Combined"].tolist()

In [78]:
new_df["steep1"] = clean["STEEP Change 1"].tolist()
new_df["steep2"] = clean["STEEP Change 2"].tolist()
new_df["steep3"] = clean["STEEP Change 3"].tolist()

In [79]:
new_df

,id,archetype,[job tag] IT,[job tag] IoT,[job tag] advertising/branding,[job tag] argriculture,[job tag] arts,[job tag] banking,[job tag] coaching,[job tag] consultancy,...,[signal] privacy concerns,[signal] mass displacement,[signal] world hunger,[signal] technology ethics,[signal] decreased farming,[signal] decreased innovation,steep_ranking,steep1,steep2,steep3
0,6202786c7d40bb363a40f8e8,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Environmental,Technological,Social",Environmental,Technological,Social
1,622008119cedee53316e89a5,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Technological,Economic,Environmental",Technological,Economic,Environmental
2,621ec40f51220c43431eeed7,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Social,Technological,Environmental",Social,Technological,Environmental
3,621d65d80cd62d17365b1b01,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Technological,Economic,Social",Technological,Economic,Social
4,621debc675b8ef017c0797ff,Growth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Technological,Environmental,Economic",Technological,Environmental,Economic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,62217153b3309273de44dc59,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Social,Environmental,Political",Social,Environmental,Political
134,621e04eb4bfec76537476c40,Discipline,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,"Environmental,Social,Technological",Environmental,Social,Technological
135,6241892a313b91718b6e8569,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,"Economic,Environmental,Technological",Economic,Environmental,Technological
136,6242fdd5f688c34ea219ef28,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Social,Environmental,Economic",Social,Environmental,Economic
137,621f841794a00119fe003b80,Discipline,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,"Environmental,Economic,Technological",Environmental,Economic,Technological

In [103]:
new_keys.extend(["id", "archetype"])

In [104]:
new_df[new_keys].to_csv("data/signals.csv")

## STEEP ranking

In [90]:
steep_ranking = clean.groupby(["STEEP Change 1"])["id"].count().reset_index()
sr1 = steep_ranking.rename(columns={"STEEP Change 1": "change"}).sort_values("id")
sr1["cat"] = "STEEP Change 1"
sr1

          change  id             cat
0       Economic   7  STEEP Change 1
2      Political   8  STEEP Change 1
3         Social  34  STEEP Change 1
4  Technological  36  STEEP Change 1
1  Environmental  53  STEEP Change 1

In [91]:
steep_ranking = clean.groupby(["STEEP Change 2"])["id"].count().reset_index()
sr2 = steep_ranking.rename(columns={"STEEP Change 2": "change"}).sort_values("id")
sr2["cat"] = "STEEP Change 2"
sr2

          change  id             cat
0       Economic  15  STEEP Change 2
2      Political  19  STEEP Change 2
3         Social  25  STEEP Change 2
1  Environmental  39  STEEP Change 2
4  Technological  40  STEEP Change 2

In [92]:
steep_ranking = clean.groupby(["STEEP Change 3"])["id"].count().reset_index()
sr3 = steep_ranking.rename(columns={"STEEP Change 3": "change"}).sort_values("id")
sr3["cat"] = "STEEP Change 3"
sr3

          change  id             cat
1  Environmental  21  STEEP Change 3
4  Technological  22  STEEP Change 3
0       Economic  31  STEEP Change 3
2      Political  32  STEEP Change 3
3         Social  32  STEEP Change 3

In [95]:
srs = pd.concat([sr1, sr2, sr3]).sort_values("id")
srs.to_csv("data/steep-change-counts.csv")

In [94]:
srs

          change  id             cat
0       Economic   7  STEEP Change 1
2      Political   8  STEEP Change 1
3         Social  34  STEEP Change 1
4  Technological  36  STEEP Change 1
1  Environmental  53  STEEP Change 1
0       Economic  15  STEEP Change 2
2      Political  19  STEEP Change 2
3         Social  25  STEEP Change 2
1  Environmental  39  STEEP Change 2
4  Technological  40  STEEP Change 2
1  Environmental  21  STEEP Change 3
4  Technological  22  STEEP Change 3
0       Economic  31  STEEP Change 3
2      Political  32  STEEP Change 3
3         Social  32  STEEP Change 3