In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("data/raw-data.csv")
clean_df = pd.read_csv("data/cleaned-data-270722.csv")
new_df = pd.read_csv("data/new-cleaned-data.csv")

In [20]:
len(clean_df)

138

In [10]:
archs = df['Archetype'].value_counts().reset_index()
archs

            index  Archetype
0  Transformation        111
1      Discipline         42
2        Collapse         13
3          Growth          9

In [11]:
archs['percent'] = archs.apply(lambda r: r['Archetype']/archs['Archetype'].sum() * 100, axis=1)
archs

            index  Archetype    percent
0  Transformation        111  63.428571
1      Discipline         42  24.000000
2        Collapse         13   7.428571
3          Growth          9   5.142857

In [12]:
industry = clean_df['Industry'].unique().tolist()
industry.sort()
industry

['-',
 'Agriculture Tech',
 'Agriculture and tech',
 'Arts',
 'Arts and Culture',
 'Banking',
 'Branding',
 'Civil Service',
 'Community and Social Services',
 'Consultancy',
 'Consulting',
 'Design',
 'Design / construction',
 'Design education',
 'Design function in the F&B industry',
 'Design in Tech',
 'Digital',
 'E-commerce',
 'Eco education',
 'Education',
 'Education, Mental & Emotional Wellness',
 'Electronics manufacturing',
 'Environment Services',
 'Environmental Sustainability',
 'FinTech',
 'Finance',
 'Fintech',
 'Futures',
 'Government',
 'Government (Information Field)',
 'Government - Social Service ðŸ˜…',
 'Hazardous Waste',
 'Health and sport',
 'Healthcare',
 'Healthcare tech',
 'IT',
 'Innovation',
 'Innovation/Design',
 'IoT',
 'Market research',
 'Marketplace',
 'Medical',
 'Music',
 'Personal Development',
 'Personal, Organisation and systems development',
 'Policy',
 'Professional Services / Organizational Development',
 'Property Development',
 'Public Service',
 'Public service',
 'Research and education',
 'Social Sector',
 'Social Services',
 'Social innovation',
 'Social service',
 'Software',
 'Supply Chain & Logistics',
 'Sustainability',
 'Tech',
 'Technology',
 'Telecommunication',
 'Transportation',
 'Travel',
 'Waste',
 'consultancy',
 'design',
 'engineering',
 'tech',
 'transport']

In [15]:
categories = {
    "Design/Arts/Creative": [],
    "Technology": [],
    "Government and Social Sector": [],
    "Organizational Development": [],
    "Research and Education": [],
    "Supply Chain & Logistics": [],
    "Sustainability": [],
    "Medical": [],
    "Healthcare": [],
    "Finance": [],
    
    
}

In [16]:
new_df['Job Tags Broad'].unique()

array(['Education / Development', 'Computing / ICT', 'Environment',
       'Arts / Design / Creative', 'Logistics / Manufacturing',
       'Social Service', 'Management / Consulting', 'Public Service',
       'Finance', 'Healthcare'], dtype=object)

In [22]:
clean_df['Job Tags Broad'].value_counts().reset_index()

                       index  Job Tags Broad
0   Arts / Design / Creative              46
1    Education / Development              22
2    Management / Consulting              13
3             Public Service              13
4            Computing / ICT              12
5                    Finance              10
6                Environment               7
7             Social Service               7
8                 Healthcare               4
9  Logistics / Manufacturing               4

In [21]:
clean_df['Job Tags Broad'].value_counts().reset_index().to_csv('data/industry-count.csv')

In [19]:
new_df[['Job Tags Broad', "id"]].to_csv('data/industry-count-2.csv')